.signup-section-oktav {
    border-radius: 25px;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    left: 5%;
    top: 100px;
    width: fit-content;
}

.oktav-dropdown {
    font-size: 18px;
    font-family: 'Varela Round';
    font-weight: 100;
}

.oktav-dropdown.periods {
    margin-right: 30px;
}

.oktav-dropdown.checkbox {
    font-size: 18px;
    font-weight: 1000;
}

.empty-black-space {
    height: 0px;
    color: white;
    background-color: #161616;
    margin: 0;
    transition: all linear 0.3s;
}

.colorbar_colors {
    border:1px solid black;
}