{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% load costum_filter %}

{% block content %}
  <header class="masthead">
    <div class="container d-inline-flex col-lg-8">
      <section class="signup-section-oktav">
        <form method="post" autocomplete="off">
          {% csrf_token %}

          <div class="ml-3 w-50">
            <h2 class="text-black text-nowrap mt-4" style="font-weight:700;">Create a product request</h2>
            <hr class="mt-0" style="background-color:black;">
          </div>

          <div class="form-row justify-content-center">
            <div class="form-col w-75">
              <div class="form-group ml-4 mr-1">
                <label for={{ product_form.product_type.id_for_label }}>{{ product_form.product_type.label }}</label>
                {{ product_form.product_type|add_class:"oktav-dropdown form-control"|attr:"title:By selecting a predefined product, input fields can be automatically enabled/disabled or set to a default value." }}
              </div>
            </div>
            <div class="form-col w-25">
              <div class="form-group ml-1 mr-4">
                <label for={{ product_form.scenario.id_for_label }}>{{ product_form.scenario.label }}</label>
                {{ product_form.scenario|add_class:"oktav-dropdown form-control" }}
              </div>
            </div>
          </div>

          <div class="form-row justify-content-center">
            <div class="form-col w-50">
              <div class="form-group ml-4 mr-2">
                <label for={{ product_form.parameter.id_for_label }}>{{ product_form.parameter.label }}</label>
                {{ product_form.parameter|add_class:"oktav-dropdown form-control" }}
              </div>
            </div>
            <div class="form-col w-50" id="parameter2_div">
              <div class="form-group mr-4">
                <label for={{ product_form.parameter2.id_for_label }}>{{ product_form.parameter2.label }}</label>
                {{ product_form.parameter2|add_class:"oktav-dropdown form-control" }}
              </div>
            </div>
          </div>

          <div class="form-row justify-content-center">
            <div class="form-col w-50">
              <div class="form-group ml-4 mr-2">
                <label for={{ product_form.aggregation_period.id_for_label }}>{{ product_form.aggregation_period.label }}</label>
                {{ product_form.aggregation_period|add_class:"oktav-dropdown form-control" }}
              </div>
            </div>
            <div class="form-col w-50">
              <div class="form-group mr-4">
                <label for={{ product_form.season.id_for_label }}>{{ product_form.season.label }}</label>
                {{ product_form.season|add_class:"oktav-dropdown form-control"|attr:"title:Only enabled if Aggregation period 'Seasonal' is selected" }}
              </div>
            </div>
          </div>

          <div class="form-row justify-content-center">
            <div class="form-col w-50">
              <div class="form-group ml-4 mr-2">
                <label for={{ product_form.region_option.id_for_label }}>{{ product_form.region_option.label }}</label>
                {{ product_form.region_option|add_class:"oktav-dropdown form-control" }}
              </div>
            </div>
            <div class="form-col w-50">
              <div class="form-group mr-4">
                <label for={{ product_form.region.id_for_label }}>{{ product_form.region.label }}</label>
                {{ product_form.region|add_class:"oktav-dropdown form-control" }}
              </div>
            </div>
          </div>

          <div class="form-row justify-content-center">
            <div class="form-col col-lg-2">
              <div class="form-group">
                <label class="text-nowrap" for={{ product_form.period_start.id_for_label }}>{{ product_form.period_start.label }}</label>
                {{ product_form.period_start|add_class:"oktav-dropdown form-control"|attr:"title:SPARTACUS: 1961-2018, ÖKS: 1971-2100" }}
              </div>
            </div>
            <div class="form-col col-lg-2">
              <div class="form-group">
                <label style="color:transparent;" for={{ product_form.period_end.id_for_label }}>{{ product_form.period_end.label }}</label>
                {{ product_form.period_end|add_class:"oktav-dropdown form-control"|attr:"title:SPARTACUS: 1961-2018, ÖKS: 1971-2100" }}
              </div>
            </div>
            <div class="form-col ml-4 col-lg-1">
              <div class="form-group">
                <label class="text-nowrap" for={{ product_form.reference_period_checkbox.id_for_label }}>{{ product_form.reference_period_checkbox.label }}</label>
                {{ product_form.reference_period_checkbox|add_class:"oktav-dropdown checkbox form-control" }}
              </div>
            </div>
            <div class="form-col col-lg-2">
              <div class="form-group">
                <label style="color:transparent;" for={{ product_form.reference_period_start.id_for_label }}>{{ product_form.reference_period_start.label }}</label>
                {{ product_form.reference_period_start|add_class:"oktav-dropdown  form-control" }}
              </div>
            </div>
            <div class="form-col col-lg-2">
              <div class="form-group">
                <label style="color:transparent;" for={{ product_form.reference_period_end.id_for_label }}>{{ product_form.reference_period_end.label }}</label>
                {{ product_form.reference_period_end|add_class:"oktav-dropdown form-control" }}
              </div>
            </div>
          </div>

          <div class="form-row justify-content-center">
            <div class="form-col">
              <div class="form-group ml-4 mr-1">
                <label for={{ product_form.lower_height_filter.id_for_label }}>{{ product_form.lower_height_filter.label }}</label>
                {{ product_form.lower_height_filter|add_class:"oktav-dropdown form-control"|attr:"title:If this is zero, no height filter will be used" }}
              </div>
            </div>
            <div class="form-col">
              <div class="form-group ml-1 mr-1 mt-3">
              <label></label>
                <p> < height (m) < </p>
              </div>
            </div>
            <div class="form-col">
              <div class="form-group ml-1 mr-4">
                <label for={{ product_form.upper_height_filter.id_for_label }}>{{ product_form.upper_height_filter.label }}</label>
                {{ product_form.upper_height_filter|add_class:"oktav-dropdown form-control"|attr:"title:If this is zero, no height filter will be used" }}
              </div>
            </div>
          </div>

          <div class="form-row justify-content-center">
            <div class="form-col w-50">
              <div class="form-group ml-4">
                <label for={{ product_form.output_type.id_for_label }}>{{ product_form.output_type.label }}</label>
                {{ product_form.output_type|add_class:"oktav-dropdown form-control" }}
              </div>
            </div>
            <div class="form-col w-50">
              <div class="form-group ml-2 mr-4">
                <label for={{ product_form.output_path.id_for_label }} style="visibility:hidden;">{{ product_form.output_path.label }}</label>
                {{ product_form.output_path|add_class:"oktav-dropdown form-control" }}
                <script> document.getElementById("id_output_path").style.visibility = "hidden";</script>
              </div>
            </div>
          </div>

          <div class="form-row mt-2 mb-2">
            <div class="col w-25 ml-4">
              <div class="form-group">
                <button class="btn btn-secondary" id="collapse_button"
                        type="button" title="Addition settings for the selected product"
                        data-toggle="collapse" data-target="#CollapseVisSet"
                        aria-expanded="false" aria-controls="CollapseVisSet"
                        style="padding:10px;">
                  Settings
                </button>
              </div>
            </div>
            <div class="col w-25">
              <div class="form-group">
                <button type="button" onclick="refreshPage()" class="btn btn-warning" style="padding:10px;">
                  Reset fields
                </button>
                <script>
                  function refreshPage() { window.location.reload();}
                </script>
              </div>
            </div>
            <div class="col w-25 mr-4">
              <div class="form-group">
                <button type="submit" class="btn btn-info" style="padding:10px;">
                  Send request
                </button>
              </div>
            </div>
            <div class="col w-25 mr-4">
              <div class="form-group">
                <button type="button" id="formfill_button" class="btn btn-danger" style="padding:10px;">
                  FormFill
                </button>
              </div>
            </div>
          </div>

          <div class="collapse" id="CollapseVisSet">
             
            <div id="color_related_fields">
              <div class="form-row">
                <div class="form-group">
                  {{ product_form.colorscale_colorbar_dict_extra }}
                </div>
              </div>
              <div class="form-row">
                <div class="ml-4 mr-3 w-50">
                  <h2 class="text-black text-nowrap" style="font-weight:300;">Colorscale settings</h2>
                  <hr class="mt-0" style="background-color:black;">
                </div>
              </div>
              <div class="form-row">
                <div class="form-col col-lg-6">
                  <div class="form-group ml-4 mr-4">
                    <label for={{ product_form.colorscale_name_extra.id_for_label }}>{{ product_form.colorscale_name_extra.label }}</label>
                    {{ product_form.colorscale_name_extra|add_class:"oktav-dropdown form-control" }}
                  </div>
                </div>
              </div>
              <div class="container col-lg-10 ml-2 mr-4" id="colorbar_colors" style="height:70px;"></div>
              <div class="container col-lg-10 ml-2 mb-4" id="colorbar_values" style="height:10px;"></div>
              <div class="form-row">
                <div class="form-col col-lg-2 ml-4">
                  <div class="form-group">
                    <label class="text-nowrap" for={{ product_form.colorscale_minval_extra.id_for_label }}>{{ product_form.colorscale_minval_extra.label }}</label>
                    {{ product_form.colorscale_minval_extra|add_class:"oktav-dropdown form-control" }}
                  </div>
                </div>
                <div class="form-col col-lg-2">
                  <div class="form-group">
                    <label for={{ product_form.colorscale_step_size_extra.id_for_label }}>{{ product_form.colorscale_step_size_extra.label }}</label>
                    {{ product_form.colorscale_step_size_extra|add_class:"oktav-dropdown form-control" }}
                  </div>
                </div>
                <div class="form-col col-lg-1">
                  <div class="form-group">
                    <label class="text-nowrap" for={{ product_form.colorscale_reverse_extra.id_for_label }}>{{ product_form.colorscale_reverse_extra.label }}</label>
                    <input type="hidden" name='{{ product_form.colorscale_reverse_extra.id_for_label }}' value="False"></input>
                    {{ product_form.colorscale_reverse_extra|add_class:"oktav-dropdown checkbox form-control" }}
                  </div>
                </div>
                <div class="form-col col-lg-1 ml-4 mt-2">
                  <label></label>
                  <button class="btn btn-success btn-sm" type="button" id="colorbar_generate_button" value="colorbar_dict" style="padding:10px;">
                    Redraw
                  </button>
                </div>
              </div>
            </div>
            <div class="ml-3 mr-3 w-50">
              <h2 class="text-black text-nowrap mt-2" style="font-weight:300;">Plot elements, methods, etc.</h2>
              <hr class="mt-0" style="background-color:black;">
            </div>
            <div class="container" id="extra_settings">
              {% for widget in product_form %}
                {% if 'colorscale' not in widget.name and '_extra' in widget.name %}
                  <div class="form-row" id="{{ widget.id_for_label }}">
                    <div class="form-col col-lg-6 ml-2">
                      <div class="form-group mb-0">
                        <input type="hidden" name='{{ widget.id_for_label }}' value="False"></input>
                        {{ widget|add_class:"oktav-dropdown" }}
                        <label class="text-nowrap ml-2" for={{ widget.id_for_label }}>{{ widget.label }}</label>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </form>
      </section>
    </div>
  </header>
  <p class="fixed-black-space" style="height:0px;background-color: #161616;margin: 0;"></p>
  <p class="empty-black-space" id="empty-black-space"></p>
{% endblock %}