{% extends 'base.html' %}

{% load static %}

{% block product_content %}
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-left">
        <section class="signup-section-oktav">
          <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">

              <form method="post" class="form-inline d-flex" autocomplete="off">
                {% csrf_token %}

                <div class="col-md-10 offset-md-1">
                  <div class="container justify-content-center">
                    <h2 class="text-white text-nowrap mb-1">Create a product request</h2>
                    <hr style="background-color:white;">
                  </div>
                  <div class="form-row">
                    <div class="col-lg-6 pb-3">
                      <label for="id_product_type">Product type</label>
                      {{ product_form.product_type }}
                    </div>
                    <div class="col-lg-6 pb-3">
                      <label for="id_scenario">Scenario</label>
                      {{ product_form.scenario }}
                    </div>
                    <div class="col-lg-6 pb-3">
                      <label for="id_parameter">Parameter</label>
                      {{ product_form.parameter }}
                    </div>
                    <div class="col-lg-6 pb-3">
                      <label for="id_parameter2">2nd parameter</label>
                      {{ product_form.parameter2 }}
                    </div>
                    <script>document.getElementById("id_parameter2").style.display = "none";</script>
                  </div>

                </div>
                <!-- <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address..."> -->
                <button type="submit" class="btn btn-primary mx-auto mt-2 mb-2">Start</button>
              </form>

            </div>
          </div>
        </section>
      </div>
    </div>
  </header>
  <script src="{% static 'js/form_functions.js' %}"></script>
  <script src="{% static 'js/fetch_region.js' %}"></script>
{% endblock %}